# Port number
PORT=8080

# URL of the Mongo DB
MONGODB_URL=mongodb://localhost:27017/youtube-video-sharing

# JWT for authentication
# JWT secret key
JWT_SECRET='lv@gs^H[[J.P&^yC^m9!rktMUU#mFkgP'
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=1440